{% load  static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us </title>
</head>
<body>
<a href="{% url 'about' %}">about</a>
<a href="{% url 'home' %}">home</a>
<a href="{% url 'contact' %}">contact</a>
<a href="{% url 'services' %}">services</a>
<h1>ABOUT US</h1>
<p> This is our firm</p>
</body>
</html>